@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Dark Theme */
$background: #182026;
$shadow: #191A1B;
$tint: #384D5C;
$color: #E8EFDF;
$subtext: #999999;

/* Light Theme */
/*
$background: #F1EFCA;
$shadow: #CAD6C5;
$tint: #E6B669;
$color: #29454E;
$subtext: #6A969E;*/

/* Global Variables */
$tile-size: 300px;


body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background: $background;
  color: $color;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: $color;
  text-decoration: none;
}

.alert {
  top: 0;
  left: 0;
  padding: 0 10px;
  background: $tint;
}

.alert-danger {
  color: red;
}

.container {
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 20px);
}

.outer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 30px 0 10px 0;
  width: 100%;
}

.tile {
  padding: 5px 5px 15px 5px;
  width: $tile-size;
  box-shadow: 2px 2px 25px 1px $shadow;
  border-radius: 10px;
  display: block;
  margin: 5px 10px 20px 10px;
  position: relative;
  transition: 400ms ease all;
  bottom: 0;
  background-color: $background;

  &:hover {
    bottom: 10px;
  }


  .image {
    width: $tile-size;
    height: $tile-size;
    object-fit: cover;
    border-radius: 10px;
  }
}

.form-tile {
  padding: 5px;
  box-shadow: 2px 2px 25px 1px $shadow;
  border: 0;
  border-radius: 10px;
  display: inline-block;
  margin: 5px 10px;
  background-color: $background;

  .form-tile-img {
    height: 300px;
    border-radius: 10px;
  }
}

.feeling-tile {
  width: 20px;
  height: 20px;
  text-align: center;
}

.last-tile {
  flex: 0 0 20px;
}

.title {
  margin: 10px 0;
  text-transform: capitalize;
  font-size: 1.4rem;
}

h2 {
  color: $subtext;
  font-size: 0.8rem;
  padding: 5px 0;
  display: block;
}

.text {
  padding: 0 7px;

  .date {
    position: absolute;
    bottom: 0;
    margin: 0;
  }

  .body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: $shadow;

  a {
    color: $subtext;
    background-color: $shadow;
    font-size: 1.5rem;
    padding: 10px 0;
    width: calc(33.3% - 10px);
    margin: 0 5px;
    text-align: center;
    border-radius: 10px;
    transition: 400ms ease all;

    &:hover {
      color: $shadow;
      background-color: $tint;
    }
  }

  .active {
    color: $color;
  }
}

.top-bar {
  color: $color;
  width: 110vw;
  margin: 30px 0;

  .search {
    color: $color;
    position: relative;
    left: 35px;
    bottom: -1px;
    z-index: 5;
  }

  input {
    color: $color;
    border-radius: 50px;
    border: 2px solid $tint;
    padding: 10px 0 10px 35px;
    outline: none;
    width: calc(100vw - 40px);
    font-size: 0.8rem;
    background-color: $background;
  }
  
  button {
    color: $color;
    position: relative;
    left: -40px;
    bottom: 1px;
    background-color: $background;
    border: none;
    box-shadow: 0 0 2px 1px $tint;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.header {
  margin: 15px 0 0 20px;
}

.new {
  display: block;
  padding: 20px;
  margin: 20px 0;
  width: calc(100vw - 140px);
  float: right;
  background: $tint;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.25rem;
  i {
    margin-right: 10px;
  }
}

#content {
  background: $background;
  width: 100vw;
  min-height: 50vh;
  max-height: 80vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 50%;
  padding-bottom: 50px;

  .show-date {
    padding: 10px 20px;
    margin: 0;
  }

  .body {
    padding: 10px 20px 30px 20px;

    .subtitle {
      margin: 0;
      text-transform: uppercase;
    }

    .body-text {
      margin: 5px;
      overflow-y: auto;
      max-height: 300px;
    }
  }

  #bar {
    position: relative;
    bottom: 20px;
    left: 30vw;
    width: 40vw;
    height: 10px;
    background: $background;
    border-radius: 50px;
  }
}

#bg {
  display: none;
}

.top-links {
  position: fixed;
  top: 0;
  padding: 20px 10px;
  a {
    padding: 10px;
    margin: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    background-color: transparentize($background, 0.5);
    border-radius: 10px;
  }
}

#links {
  right: 0;
}

#back {
  left: 0;
}

#content-container {
  position: fixed;
  top: 20vh;
  width: 100vw;
  height: 80vh;
  overflow: auto;
  padding-top: 30px;
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

input[type="radio"]:checked + div {
  background-color: $tint;
}

.form {
  margin-bottom: 20px;

  button {
    border: 0;
    padding: 10px 20px;
    background-color: $tint;
    border-radius: 10px;
    color: $color;
    font-size: 0.9rem;
  }


  input[type="text"] {
    width: calc(100% - 20px);
    background-color: $shadow;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: $color;
  }

  textarea {
    resize: none;
    width: calc(100% - 20px);
    height: 200px;
    background-color: $shadow;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    color: $color;
  }

  #submit-section {
    padding: 20px 0;
  }
}

#form-container {
  padding-top: 40px;
  padding: 40px 20px 0 20px;
}