<%= form_for @changeset, @action, [autocomplete: "off", class: "form"], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label do %>
    <h2 class="subtitle">Title</h2>
  <% end %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label do %>
    <h2 class="subtitle">Body</h2>
  <% end %>
  <%= textarea f, :body %>
  <%= error_tag f, :body %>

  <%= label do %>
    <h2 class="subtitle">Feeling</h2>
  <% end %>
  <%= for option <- ["Awesome", "Good", "Blessed", "Okay", "Sad", "Angry", "Terrible"] do %>
    <%= label do %>
      <%= radio_button f, :feeling, option  %>
      <div class="form-tile feeling-tile">
        <%= case option do
                "Awesome" -> "😃"
                "Good" -> "🙂"
                "Blessed" -> "🙏"
                "Okay" -> "😐"
                "Sad" -> "🙁"
                "Angry" -> "😠"
                "Terrible" -> "🤬"
            end %>
      </div>
    <% end %>
  <% end %>

  <%= if @conn.assigns[:images] do %>
    <h2 class="subtitle">Image</h2>

    <div class="outer">
      <%= for image <- @images do %>
        <%= label do %>
          <%= radio_button f, :image, image["urls"]["regular"]  %>
          <div class="form-tile">
            <%= img_tag image["urls"]["small"], class: "form-tile-img" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
  <%= label f, :image do %>
    <h2 class="subtitle">Image</h2>
  <% end %>
    <%= text_input f, :image %>
    <%= error_tag f, :image %>
  <% end %>

  <br>
  <div id="submit-section">
    <%= submit "Save" %>
  </div>
<% end %>
